@model List<ItemPlan>

@if (Model.FirstOrDefault()?.PlannableItem is Person)
{
<div class="row" style="margin: 10px 5px 10px 5px;">
    <div class="col-md-11 col-md-offset-1">
        <partial name="_Milestones" model="new Tuple<List<ItemPlan>, IPlannableItem>(Model, null)" />
    </div>
</div>
}

<div class="row" style="margin: 10px 5px 10px 5px;">
    <div class="col-md-1">
        &nbsp;
    </div>

    <div class="col-md-11">
        @foreach (var d in Enumerable.Range(0, (int)(Model.SelectMany(m => m.Channels.SelectMany(c => c.PersonProjects)).MaxOrDefault(p => p.End, DateTime.Today.AddDays(14)) - DateTime.Today).TotalDays))
        {
            <div style="display: block; border:1px solid grey; position:absolute; width: 50px; left: @(d*50)px; background: @((DateTime.Now.Date.AddDays(d).IsWeekend()) ? "darkgrey" : "lightgrey")">
                @DateTime.Now.Date.AddDays(d).ToString("dd/MM")
            </div>
        }
    </div>
</div>
