@model PlanModel
@{
    ViewData["Title"] = "JGantt";
}

<h3>Plan by person</h3>
<partial name="_PlanView" for="PersonPlans" />
<hr />
<h3>Plan by project</h3>
<partial name="_PlanView" for="ProjectPlans" />
<hr />

<div class="row">
    <div class="col-md-12">
        <div style="color:red">@Model.JsonError</div>
    </div>
</div>

@using (Html.BeginForm("Index", "Home"))
{
    <div class="row">
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.Json, new { style = "width: 100%; height: 500px; font-family: monospace; white-space: pre; overflow-wrap: normal; overflow-x: scroll;", spellcheck = "false" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-11 col-lg-offset-11">
            <input type="submit" value="Update" />
        </div>
    </div>
}
